body {
    margin: 0;

    padding: 0;
}

.header {
    height: 100px;
    top: 0px;
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

#map {
    top: 83px;
    height: 85vh;
    width: 100vw;

    position: absolute;
    overflow: hidden;
}
.logo {
    position: absolute;
    width: 150px;
}

img {
    height: 85px;
}

h4{
    position: absolute;
    font-size: 21px;
    left: 176px;
    top: -24px;
}
.dropDownDiv{
    position: absolute;
    top: 62px;
    left: 236px;
}


.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }
